body {
  font-family: "Roboto", sans-serif;
  background-image: url(https://wallpapercave.com/wp/wp1966207.jpg);
}
.btn{
  margin: 20px;
  background-color: #385170be;
  border-color: #385170;
}

.inp-txt{
  border-radius: 10px;
}

.post-list {
  font-family: "Roboto", sans-serif;
  opacity: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-div {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-user {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  color: aliceblue;
  box-shadow: 2px 2px #385170;
  background-color: #9fd3c78e;
  border: 2px solid #9fd3c7;
  width: 28%;
  padding: 40px 0;
  margin-top: 2px;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  min-width: 300px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkTODO {
  font-family: "Roboto", sans-serif;
  background-color: blue;
}

.todo-form {
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  box-shadow: 2px 2px #385170;
  background-color: #9fd3c78e;
  border: 2px solid #9fd3c7;
  width: 28%;
  padding: 20px 0;
  border-radius: 20px;
  text-align: center;
  margin: 2px auto;
  min-width: 300px;
  max-width: 450px;
}
